footer {
	background-color: var(--color1);
	padding-block: 40px;
	color: white;
	font-size: 1.25rem;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer p {
	margin-block: 30px;
}

footer img {
	width: 150px;
}

footer svg {
	fill: white;
}
