hr {
	width: calc(100% - 100px);
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin: 0 auto;
	margin-block: 50px;
}

h2 {
	margin-bottom: 20px;
}

main {
	margin-bottom: 100px;
}

.membros {
	display: flex;
	flex-direction: column;
}

.filter form {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 10px;
	margin-bottom: 20px;
}

/* tabelas gerais */

table {
	background-color: var(--color1);
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	width: 100%;
}

table svg {
	height: 30px;
	width: 30px;
	fill: white;
	padding: 3px;
	border-radius: 5px;
}

.excluir {
	background-color: rgb(177, 36, 36);
}

.editar {
	display: inherit;
	background-color: rgb(226, 153, 17);
	height: fit-content;
	width: fit-content;
	border-radius: 5px;
	cursor: pointer;
}

td,
th {
	padding: 25px 20px;
	vertical-align: middle;
	text-align: left;
}

tr:first-child {
	background-color: var(--color1dark);
}

th {
	text-transform: uppercase;
}

tr:not(:first-child):hover {
	background-color: var(--color1hover);
}

th:hover {
	background-color: var(--color1darkhover);
}

.actions {
	display: flex;
	gap: 5px;
}

@media only screen and (max-width: 768px) {
	.container {
		max-width: 95%;
	}
}

@media only screen and (max-width: 992px) {
	td,
	th {
		padding: 10px 8px;
	}
}
