<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% block body %}
<body>
    <h1>Igreja Cristã Senhor Justiça Nossa</h1>
    

    <h2>Cadastrar novos membros</h2>

    {% block form %}
    <form method="POST">

        {{ form.csrf_token }}

        {{ form.nome.label() }}
        {{ form.nome() }}
        <br><br>
        {{ form.data_nascimento.label() }}
        {{ form.data_nascimento() }}
        <br><br>
        {{ form.numero.label() }}
        {{ form.numero() }}
        <br><br>
        {{ form.endereco.label() }}
        {{ form.endereco() }}
        <br><br>
        {{ form.cargo.label() }}
        {{ form.cargo() }}
        <br><br>
        {{ form.botao_confirmacao }}

    </form>
    {% endblock %}

    <br>

    <h2>Membros</h2>

    <table border="1" class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Data de Nascimento</td>
            <td>Numero</td>
            <td>Endereço</td>
            <td>Cargo</td>
            <td>Ações</td>
        </tr>
    
        {% for membro in lista_membros %}
        <tr>
            <td>{{membro.id}}</td>
            <td>{{membro.nome}}</td>
            <td>{{membro.data_nascimento}}</td>
            <td>{{membro.numero}}</td>
            <td>{{membro.endereco}}</td>
            <td>{{membro.cargo}}</td>
            <td><a href="{{ url_for('excluir', id = membro.id) }}">Excluir</a> | <a href="{{ url_for('editar', id = membro.id) }}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>

    <h2>Aniversariantes do Mês</h2>

    <table border="1" class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Data de Nascimento</td>
            <td>Numero</td>
            <td>Endereço</td>
            <td>Cargo</td>
        </tr>
    
        {% for membro in lista_membros %}
        {% if membro.data_nascimento[3:5] == mes_atual %}
        <tr>
            <td>{{membro.id}}</td>
            <td>{{membro.nome}}</td>
            <td>{{membro.data_nascimento}}</td>
            <td>{{membro.numero}}</td>
            <td>{{membro.endereco}}</td>
            <td>{{membro.cargo}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>


</body>
{% endblock %}

</html>