<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ICSJN</title>
		<link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />

		<link rel="stylesheet" href="../static/css/geral.css" />
		<link rel="stylesheet" href="../static/css/header.css" />
		<link rel="stylesheet" href="../static/css/membros.css" />
		<link rel="stylesheet" href="../static/css/inputs.css" />
		<link rel="stylesheet" href="../static/css/footer.css" />
	</head>

	{% block body %}
	<body>
		<nav>
			<div class="container-header header">
				<a href="/">
					<img src="../static/assets/logo.png" alt="Logo da igreja" />
				</a>
				<div class="navbar">
					<a href="/#sobre">SOBRE</a>
					<a href="/#endereco">INFORMAÇÕES</a>
				</div>
			</div>
		</nav>
		<div class="container">
			<hr />
		</div>
		<main>
			<section class="membros container">
				<div class="filter">
					<h2>
						<div class="highlight">Gerenciamento</div>
						dos membros
					</h2>
					<form method="POST" action="{{url_for('filtrar_membros')}}">
						{{ form2.csrf_token }}
						<div class="input-wrapper">{{ form2.nome.label() }}{{ form2.nome(class="form-input") }}</div>
						<div class="input-wrapper">{{ form2.cargo.label(class="perma") }} {{ form2.cargo(class="form-input") }}</div>
						{{ form2.botao_confirmacao }}
					</form>
				</div>
				<table class="member-table">
					<tr>
						<th>Id</th>
						<th>Nome</th>
						<th>Data de Nascimento</th>
						<th>Numero</th>
						<th>Endereço</th>
						<th>Cargo</th>
						<th>Ações</th>
					</tr>

					{% for membro in lista_membros %}
					<tr>
						<td>{{membro.id}}</td>
						<td>{{membro.nome}}</td>
						<td class="td-nasc">{{membro.data_nascimento}}</td>
						<td>{{membro.numero}}</td>
						<td>{{membro.endereco}}</td>
						<td>{{membro.cargo}}</td>
						<td class="actions">
							<a href="{{ url_for('excluir', id = membro.id) }}"
								><?xml version="1.0" encoding="utf-8"?>
								<svg class="excluir" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6M14 10V17M10 10V17"
										stroke="#000000"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</a>
							<a href="{{ url_for('editar', id = membro.id) }}">
								<?xml version="1.0" encoding="utf-8"?>
								<svg class="editar" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M15.4998 5.49994L18.3282 8.32837M3 20.9997L3.04745 20.6675C3.21536 19.4922 3.29932 18.9045 3.49029 18.3558C3.65975 17.8689 3.89124 17.4059 4.17906 16.9783C4.50341 16.4963 4.92319 16.0765 5.76274 15.237L17.4107 3.58896C18.1918 2.80791 19.4581 2.80791 20.2392 3.58896C21.0202 4.37001 21.0202 5.63634 20.2392 6.41739L8.37744 18.2791C7.61579 19.0408 7.23497 19.4216 6.8012 19.7244C6.41618 19.9932 6.00093 20.2159 5.56398 20.3879C5.07171 20.5817 4.54375 20.6882 3.48793 20.9012L3 20.9997Z"
										stroke="#000000"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</a>
						</td>
					</tr>
					{% endfor %}
				</table>
			</section>
			<div class="container">
				<hr />
			</div>
			<div class="container niver">
				<h2>
					<div class="highlight">Aniversariantes</div>
					do Mês
				</h2>
				<table class="niver-table">
					<tr>
						<td>Id</td>
						<td>Nome</td>
						<td>Data de Nascimento</td>
						<td>Numero</td>
						<td>Endereço</td>
						<td>Cargo</td>
					</tr>

					{% for membro in lista_aniversariantes %}
					<tr>
						<td>{{membro.id}}</td>
						<td>{{membro.nome}}</td>
						<td class="td-nasc">{{membro.data_nascimento}}</td>
						<td>{{membro.numero}}</td>
						<td>{{membro.endereco}}</td>
						<td>{{membro.cargo}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="container">
				<hr />
			</div>
			<section class="cadastrar container">
				<h2>
					<div class="highlight">Cadastrar</div>
					novo membro
				</h2>

				{% block form %}
				<form method="POST" action="{{url_for('novo_membro')}}">
					{{ form.csrf_token }}
					<div class="input-wrapper novo-nom">{{ form.nome.label() }} {{ form.nome(class="form-input") }}</div>
					<div class="input-wrapper novo-nas">{{ form.data_nascimento.label(class="perma") }} {{ form.data_nascimento(class="form-input") }}</div>
					<div class="input-wrapper novo-tel">{{ form.numero.label() }} {{ form.numero(class="form-input") }}</div>
					<div class="input-wrapper novo-end">{{ form.endereco.label() }} {{ form.endereco(class="form-input") }}</div>
					<div class="input-wrapper novo-car">{{ form.cargo.label(class="perma") }} {{ form.cargo(class="form-input") }}</div>
					{{ form.botao_confirmacao(class="novo-sub") }}
				</form>
			</section>
			{% endblock %}
		</main>

		<script src="../static/scripts/inputs.js"></script>
		<script src="../static/scripts/slash-to-dot.js"></script>
	</body>
	{% endblock %}
</html>
